
              <!-- EDIT FORM -->
              
              <div class="container">
                  <div class="pt-4">
                    <h2 class=" mt-5">Edit Movie Item</h2>
                  </div>  
                  <div class="alert alert-success" *ngIf="itemEditted">Movie details saved successfully
                      <div class="spinner-grow text-success veralign" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                  </div>
                  <form [formGroup]="editForm" (submit)="onSubmitEditForm()" *ngIf="!itemEditted" class="needs-validation pb-5 mb-5" name="movieItemForm" method="post" novalidate>
                     <div class="form-group edit-movieList mt-3 mt-md-0">
                          <label for="field-itemname">Movie Title</label>
                          <input type="text" name="title" formControlName="title" class="form-control" id="field-itemname" required>
                          <!-- VALIDATION FEEDBACK START -->
                          <div class="invalid-feedback" *ngIf="editForm.get('title').touched && editForm.get('title').hasError('required')"> Title is required</div>
                          <div class="invalid-feedback" *ngIf="editForm.get('title').dirty && editForm.get('title').hasError('maxlength')" id="title-error-2">Title cannot exceed 200 characters</div>
                          <div class="valid-feedback" *ngIf="editForm.get('title').dirty && !editForm.get('title').errors" id="title-valid">Awesome!</div>
                          <!-- VALIDATION FEEDBACK END -->
                     </div>
                     <div class="form-group row">
                        <div class="col-md-3 edit-movieList  mt-0 mt-md-0">
                            <label for="field-boxOffice">Gross</label>
                            <input type="text" name="boxOffice" formControlName="boxOffice" class="form-control" id="field-boxOffice" required>
                            <!-- VALIDATION FEEDBACK START -->
                            <div class="invalid-feedback" *ngIf="editForm.get('boxOffice').dirty && editForm.get('boxOffice').hasError('required')" id="boxOffice-error-1">Gross amount is required</div>
                            <div class="invalid-feedback" *ngIf="editForm.get('boxOffice').dirty && editForm.get('boxOffice').hasError('pattern')" id="boxOffice-error-2">Gross amount can only contain numbers</div>
                            <div class="valid-feedback" *ngIf="editForm.get('boxOffice').dirty && !editForm.get('boxOffice').errors">Done!</div>
                            <!-- VALIDATION FEEDBACK END -->
                        </div>
                        <div class="col-md-3 edit-movieList  mt-3 mt-md-0">
                                <label for="field-dateOfLaunch">Date of Launch</label>
                                <input type="date" name="dateOfLaunch" formControlName="dateOfLaunch" class="form-control" id="field-dateOfLaunch" required>
                                <!-- VALIDATION FEEDBACK START -->
                                <div class="invalid-feedback" *ngIf="editForm.get('dateOfLaunch').dirty && editForm.get('dateOfLaunch').hasError('required')" id="dateOfLaunch-error-1"></div>
                                <div class="valid-feedback" *ngIf="editForm.get('dateOfLaunch').dirty && !editForm.get('dateOfLaunch').errors">Set!</div>
                                <!-- VALIDATION FEEDBACK END -->                       
                           </div>
                          <div class="col-md-3 edit-movieList  mt-3 mt-md-0">
                             <label for="field-genre">Genre</label>
                                  <select name="genre" formControlName="genre" class=" form-control" required>
                                     <option hidden></option>
                                     <option value="Science Fiction">Science Fiction</option>
                                     <option value="SuperHero">Superhero</option>
                                     <option value="Romance">Romance</option>
                                     <option value="Comedy">Comedy</option>
                                     <option value="Adventure">Adventure</option>
                                     <option value="Thriller">Thriller</option>
                                  </select>
                                  <!-- VALIDATION FEEDBACK START -->
                                <div class="invalid-feedback" *ngIf="editForm.get('genre').touched && editForm.get('genre').hasError('required')" id="genre-error-1">Genre is required</div>
                                <div class="valid-feedback" *ngIf="editForm.get('genre').touched && !editForm.get('genre').errors">Sup!</div>
                                <!-- VALIDATION FEEDBACK END -->   
                          </div>
                          <div class="col-md-3 mt-3 mt-md-0">
                               <label class="d-block">Active</label>
                              <div class="form-check-inline  edit-movieList mt-md-2 row ml-0">
                                  <input type="radio" name="active" formControlName="active" [value]=true class="form-check-input" id="field-yes" required>                        
                                  <label class="form-check-label" for="field-yes">Yes</label>
                                <!-- </div>
                              <div class="form-check-inline"> -->
                                  <input type="radio" name="active" formControlName="active" [value]=false class="form-check-input ml-1" id="field-no" required>                  
                                  <label class="form-check-label" for="field-no">No</label>
                                  <!-- <div class="invalid-feedback"  *ngIf="editForm.get('active').touched && editForm.get('active').hasError('required')" id="active-error-1">Select active status</div> -->
                              </div>
                              
                              
                          </div>  
                                                       
                      </div>
        
                      <div class="form-group row">
                            <div class="col-md-3">
                                    <div class="checkbox form-horizontal">
                                        <input type="checkbox" name="hasTeaser" formControlName="hasTeaser" id="field-hasTeaser"><label for="field-hasTeaser" class="ml-2">has Teaser</label>
                                    </div>    
                                </div> 
                        </div>
        
        
        
        
        
        
        
                      <div class="form-group row submit">
                          <input type="submit" name="submit" [disabled]="!editForm.valid" class="btn btn-success ml-3" value="Save">
                      </div>
                      
                  </form>
              </div>
  
              